---
layout: default
---
<div class="container">
  <p>
    {% include header.html %}
  </p>
  <p class="lead">{% include subtitle.html %}</p>
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include education.html %}
      {% include languages.html %}
      {% include skills.html %}
    </div>
    <div class="main">
      <section>
        {% include career-profile.html %}
      </section>
      <section>
        {% include experience.html %}
      </section>
      <section>
        {% include projects.html %}
      </section>
      <p style="page-break-before: always"></p>
      <section>
        {% include volunteering.html %}
      </section>
    </div>
  </div>
</div>