---
layout: default
---
<div class="container">
    <p>
      {% include header.html %}
    </p>
    <p class="lead">{% include subtitle.html %}</p>
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include education.html %}
      {% include languages.html %}
      {% include skills.html %}
    </div>

    <div class="main">
      {% include career-profile.html %}
      {% include experience.html %}
      {% include volunteering.html %}
    </div>
  </div>
</div>
