:root {
    --bg-color: #F7F7F9;
    --bg-color-cv: #ffffff;
    --fg-color: #12016E;
    --fg-color-dark: #0F0240;
    --fg-color-body: #23212A;
    --fg-color-title-sm: #23212A;

}

[data-theme='dark'] {
    --bg-color: #0F0240;
    --bg-color-cv: #0F0240;
    --fg-color: #F7F7F9;
    --fg-color-dark: #F7F7F9;
    --fg-color-body: #F7F7F9;
    --fg-color-title-sm: #F7F7F9;
}
